@media only screen and (max-width: 1520px) {
  .cards-cont {
    padding: 2% 8%;
  }
  .custom-card {
    height: 32rem;
    width: 87%;
    margin-top: 2rem;
  }

  /* about us  */
  .card {
    width: 52.8125rem;
    height: 27.25rem;
  }
}
@media only screen and (max-width: 1288px) {
  #left-container .logo-name {
    margin-top: 12rem;
    font-size: 4rem;
    letter-spacing: 0.1rem;
  }
  .cards-cont {
    padding: 2% 6%;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .custom-card {
    height: 32rem;
    width: 87%;
    margin-top: 2rem;
  }

  /* about us  */
  .card {
    width: 40.8125rem;
    height: 23.25rem;
  }
}
@media only screen and (max-width: 1161px) {
  .about-us-container
{
  padding-top:10rem ;
}

.about-us-inner-cont
{
  display: flex ;
  height: 50%;
  padding: 2rem 5rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 15px grey;
  font-family: "Comfortaa", cursive;
}



.left-img img 
{
  width: 80%;
  height: 100%;
  border-radius: 5rem;
}

.right-info
{
  padding: 1rem;
}

.left-info 
{
  width: 60%;
  padding: 1rem;

}

.right-img
{
  width: 40%;
}

.right-img img
{
  width: 80%;
  height: 100%;
  border-radius: 5rem;
} 

  .about-us-inner-cont
{
  height: 100%;
  padding: 2rem 5rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 15px grey;
  font-family: "Comfortaa", cursive;
}


  #left-container .logo-name {
    margin-top: 12rem;
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }

  .cards-cont {
    padding: 2% 8%;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .custom-card {
    height: 33rem;
    width: 80%;
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 1084px) {

  .cards-cont {
    padding: 2% 8%;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .custom-card {
    height: 32rem;
    width: 87%;
    margin-top: 5rem;
  }

  /* about us  */
}
@media only screen and (max-width: 950px) {
  .about-us-container
{
  padding-top:2rem ;
}

.about-us-inner-cont
{
  display: flex ;
  height: 50%;
  padding: 1rem 0rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 15px grey;
  font-family: "Comfortaa", cursive;
}

.left-img
{
  width: 40%;
}

.left-img img 
{
  width: 80%;
  height: 100%;
  border-radius: 2rem;
}

.right-info
{
  width: 60%;
  padding: 0rem;
}

.left-info 
{
  width: 60%;
  padding: 0rem;

}

.right-img
{
  width: 40%;
}

.right-img img
{
  width: 80%;
  height: 100%;
  border-radius: 2rem;
} 

  
  .navbar {
    position: static;
    width: 100%;
  }
  .landing {
    height: 50%;
    width: 100%;
    position: relative;
    display: block;
    top: -12rem;
    justify-content: center;
    text-align: center;
  }
  #left-container {
    margin-top: 5rem;
    width: 100%;
    z-index: 1;
    justify-content: center;
    text-align: center;
  }
  #left-container .logo-name {
    padding-top: 2rem;
  }
  #right-container {
    overflow: hidden;
    width: 100%;
    z-index: 1;
    margin-top: 2rem;
  }

  .cards-cont {
    padding: 2% 7%;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .custom-card {
    height: 30rem;
    width: 87%;
    margin-top: 5rem;
  }

  /* about us  */

  #tech {
    /* background: #212534; */
    position: relative;
    top: -12rem;
    justify-content: space-around;
    text-align: center;
  }
  #about-us {

    height: 100%;
    position: relative;
    top: -12rem;
  }

  #heading-2 {
    position: relative;
    top: 2rem;
    color: #212534;
    font-family: "Krona One", sans-serif;
    justify-content: center;
    text-align: center;
    /* background-color: rgb(36, 36, 36); */
  }

  .about-carousel {
    position: relative;
    top: 12rem;
  }
  #contact-us {
    position: relative;
    top: -12rem;
    background-color: #000;
    color: white;
    height: 100%;
  }
  .contact-us-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    padding-top: 5rem;
  }
}

@media only screen and (max-width: 772px) {
  .about-us-container
{
  padding-top:2rem ;
}

.about-us-inner-cont
{
  display: block;
  height: 100%;
  padding: 1rem 2rem;
  border: 15px grey;
  font-family: "Comfortaa", cursive;
}

.left-img
{
  width: 100%;
}

.left-img img 
{
  width: 100%;
  height: 50%;
  border-radius: 5rem;
}

.right-info
{
  width: 100%;
  padding: 1.5rem;
  text-align: left;
}

.left-info 
{
  width: 100%;
  padding: 1rem;
  text-align: left;
}

.right-img
{
  width: 100%;
}

.right-img img
{
  width: 100%;
  height: 100%;
  border-radius: 5rem;
} 

  .custom-class-1 {
    display: block;
  }
  .cards-cont {
    padding: 2% 10rem;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .navlinks ul {
    display: block;
    justify-content: center;
    text-align: center;
  }
  .navlinks ul li {
      line-height: 2rem;
  }
  .hamburger {
    display:none;
    transition: display 2s;
  }
  /* .navbar {
  } */
  .custom-card {
    height: 30rem;
    width: 87%;
    margin-top: 5rem;
  }

  /* about us  */
  .card {
    width: 32.8125rem;
    height: 20.25rem;
  }
  .card-data {
    margin: 0.5rem 0.5rem;
  }
}
@media only screen and (max-width: 645px) {
  .cards-cont {
    padding: 2rem 5rem;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .custom-card {
    height: 30rem;
    width: 87%;
    margin-top: 5rem;
  }

  /* about us  */
  .card {
    width: 32.8125rem;
    height: 20.25rem;
  }
  .card-data {
    margin: 0.5rem 0.5rem;
  }
}
@media only screen and (max-width: 542px) {
  .cards-cont {
    padding: 2rem 5rem;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .custom-card {
    height: 30rem;
    width: 87%;
    margin-top: 5rem;
  }

  /* about us  */
  .card {
    width: 28.8125rem;
    height: 20.25rem;
  }
  .card-data {
    margin: 0.5rem 0.5rem;
  }
}
@media only screen and (max-width: 481px) {
  .cards-cont {
    padding: 2rem 2rem;
    justify-content: center;
    text-align: center;
    display: block;

  }
  .custom-card {
    height: 30rem;
    width: 100%;
    margin-top: 5rem;
  }

  /* about us  */
  .card {
    width: 25.8125rem;
    height: 20.25rem;
  }
  .card-data {
    margin: 0.5rem 0.5rem;
  }
  .contact-us-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 395px) {
  #left-container .logo-name {
    font-size: 2rem;
  }
}
