/* google font  link  for logo  */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap");

/* google fonts for navbar  */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Courier+Prime&display=swap");

/* google font tourney  */
/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Courier+Prime&family=Krona+One&family=Tourney:wght@500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Courier+Prime&family=Krona+One&family=Roboto+Mono:wght@300&family=Tourney:wght@500&family=Work+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Comfortaa:wght@700&family=Courier+Prime&family=Krona+One&family=Roboto+Mono:wght@300&family=Tourney:wght@500&family=Work+Sans:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Comfortaa:wght@700&family=Courier+Prime&family=Krona+One&family=Righteous&family=Roboto+Mono:wght@300&family=Tourney:wght@500&family=Work+Sans:wght@300&display=swap');
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: #000;
}
/* hamburger menu  */

.custom-class-1 
{
  display: none;
}

.ham 
{
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active
{
  transform: rotate(45deg);
}

.hamRotate180.active 
{
  transform: rotate(180deg);
}

.line 
{
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top 
{
  stroke-dasharray: 40 160;
}

.ham8 .middle 
{
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom 
{
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top 
{
  stroke-dashoffset: -64px;
}

.ham8.active .middle 
{
  transform: rotate(90deg);
}

.ham8.active .bottom 
{
  stroke-dashoffset: -64px;
}



/* navbar  */

.navbar 
{
  position: static;
  width: 100%;
  background-color: #ffffffd5;
  position: fixed;
  z-index: 100000;
}


.navlinks 
{
  padding: 1.5rem;
}

.navlinks ul 
{
  display: flex;
  justify-content: center;
  text-align: center;
}

ul li 
{
  padding: 0rem 1rem;
  list-style: none;
}

ul li a 
{
  font-family: "Comfortaa", cursive;
  color: #000000;
  font-size: 0.9rem;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

/* ul li a:hover 
{
  color: rgb(0, 132, 255) ;
} */

ul li a::after 
{
  content: "";
  transition: width 0.5s;
  position: absolute;
  background-color: rgb(187, 173, 173);
  height: 0.2rem;
  width: 0%;
  left: 0;
  bottom: -10px;
  border-radius: 2rem;
}

ul li a:hover::after 
{
  width: 100%;
}



/* landing  */

.landing 
{
  height: 90%;
  width: 100%;
  background-color: #6d6ec0;
  position: relative;
  display: flex;
  top: 4rem;
  justify-content: center;
  text-align: center;
}

#left-container 
{
  width: 50%;
  z-index: 1;
  justify-content: center;
  text-align: center;
}

#left-container .logo-name 
{
  font-family: "orbitron";
  margin-top: 18rem;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.3rem;
}

.slogan 
{
  padding: 5%;
  font-family: "Comfortaa", cursive;
}

.custom-btn 
{
  background-color: #000;
  color: white;
  border-radius: 0.4rem;
  padding: 01rem 2rem;
  cursor: pointer;
  text-decoration: none;
}

#right-container 
{
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  border-radius: 30rem 0rem 0rem 40rem;
  justify-content: center;
  align-items: center;
  width: 80%;
  z-index: 1;
}

#right-container .man-laptop-illustration 
{
  width: 70%;
  height: 80%;
  margin-top: 8rem;
}



/* tech  */

#heading-1 
{
  position: relative;
  top: 3rem;
  font-family: "Krona One", sans-serif;
  justify-content: center;
  text-align: center;
  color:  #212534;
}

#tech 
{
  /* background: #212534; */
  background-color:#3234ae;
  position: relative;
  top: 4rem;
  justify-content: space-around;
  text-align: center;
}


.cards-cont
{
  padding: 5% 15%;
  justify-content: center;
  text-align: center;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3,1fr);
}


.custom-card 
{
  height: 32rem;
  background: #6c856c;
  border-radius: 2rem;
  width: 82%;
  margin-top: 2rem;
  justify-content: center;
}

.card-img 
{
  height: 75%;
  width: 100%;
  background-color: rgb(32, 30, 43);
  border-radius: 2rem 2rem 0rem 4rem ;
}

.card-img img 
{
  border-radius: 2rem 2rem 0rem 4rem ;
  height: 100%;
  width: 100%;
}

.card-data 
{
  /* font-weight: b/; */
  font-size: 1.1rem;
  color: rgb(14, 13, 13) ;
  margin: 1rem 1rem;
  font-family: 'Righteous', cursive;

}

.card-button 
{
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-family: 'Righteous', cursive;
  background-color: rgb(230, 255, 5);
}

.card-button:hover 
{
  padding: 0.5rem 1.5rem;
  background-color: rgb(46, 26, 26);
  cursor: pointer;
}

.card-button a
{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}



/* about - us  */

#about-us
{
  background-color:#775bda;
  position: relative;
  top: 3rem;
  overflow: hidden;
}

#heading-2
{
  position: relative;
  top: 7rem;
  color:  #212534;
  font-family: "Krona One", sans-serif;
  justify-content: center;
  text-align: center;
  /* background-color: rgb(36, 36, 36); */
}

.about-us-container
{
  padding-top:10rem ;
}

.about-us-inner-cont
{
  display: flex ;
  height: 50%;
  padding: 2rem 5rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 15px grey;
  font-family: "Comfortaa", cursive;
}

.left-img
{
  width: 40%;
}

.left-img img 
{
  width: 80%;
  height: 100%;
  border-radius: 5rem;
}

.right-info
{
  width: 60%;
  padding: 5rem;
}

.left-info 
{
  width: 60%;
  padding: 5rem;

}

.right-img
{
  width: 40%;
}

.right-img img
{
  width: 80%;
  height: 100%;
  border-radius: 5rem;
} 



/* contact us  */


#contact-us
{
 position: relative ;
 top: 3rem;
 background-color: #000;
 color:white ;
}

.contact-us-wrapper
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-around;
  padding-top: 5rem;
}

.container
{
  justify-content: space-around;
  text-align: center;
}

.contact-us-headers
{
  border-bottom: 2px solid yellow ;
  display: inline;
  font-family: "Krona One", sans-serif;
  font-size: 1.2rem;
}


.links
{
  justify-content: space-around;
  text-align: center ;
  padding: 2rem;
}
.main-links 
{
  display: block;
  color: rgba(41, 31, 31, 0.829);
  text-decoration: none;;
  color: #b5ffe5;
  font-family: 'Work Sans', sans-serif;
  transition: all 0.3s ;
}

.main-links i
{
  color: rgb(0, 3, 160);
  text-align: left;
  justify-content: left;
  color: #6ba3f7;
  padding: 0.5rem;
  transition: all 0.3s;
}
.main-links i:hover
{
  color: #ffd900;
}

.main-links:hover
{
  font-size: large;
  color: #666666;
}

.links {
  color: white;
}

.filler
{
  width: 100%;
  background-color: #000;

}